.bg {
    background: url('../bg.jpg') no-repeat 50% 50% fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    width: 100%;
    height: 100%;
}

.cont {
    width: 100%;
    height: 100%;
}

.icon {
    width: 30%;
    margin-top: 10%;

}

.title {
    color: white;
    margin-top: 10%;
}

.buttone {
    margin-top: 20%;
    width:150px;
    height:70px;
}
